@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  color: slate 900;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: slate 800;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 201 98% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 20 80.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 10.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --darker: 244 10% 5%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 201 98% 41%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 12.9%;
    --muted-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1.display-1{
  font-size: 50px !important;
  line-height: 50px !important;
}
h6{
  font-size: 25px !important;
  line-height: 20px !important;
}
.logo-text{
  font-size: 15px !important;
  line-height: 14px !important;
}
p{
  font-size: 16px !important;
  line-height: 16px !important;
}
button{
  font-size: 15px !important;
  font-weight: 550 !important;
  /* border: 1px solid rgb(2, 165, 250) !important; */
  border-radius: 5px !important;
  color: rgb(103, 103, 103) !important;
}
span{
  font-size: 16px !important;
  font-weight: 500 !important;
}
h6{
  font-size: 18px !important;
  font-weight: 400 !important;
}
a{
  font-size: 15px !important;
  color: rgb(2, 165, 250) !important;
}
.max-w-sm{
  max-width: 80% !important;
}
.backdrop{
  backdrop-filter: blur(0px) !important;
}
.back-image{
  background-image: url("images/orbs.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: right;
  width: 100% !important;
  overflow-x: hidden !important;
  color: rgb(247, 245, 245) !important;
}
.back-classes{
  background-image: url("images/box.jpeg") !important;
  background-size: 20% !important;
  background-repeat: no-repeat !important;
  background-position: right;
  overflow-x: hidden !important;
  color: rgb(255, 255, 255) !important;
}
.back-schedule{
  background-image: url("images/orbs.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: right;
  overflow-x: hidden !important;
}
.bg-darker{
  background-color: rgb(26, 26, 26) !important;
  color: white !important;
}
.nav-item{
  font-size: 16px !important;
  font-weight: 550 !important;
  color: rgb(7, 8, 8) !important
}
.bg-light{
  color: rgb(2, 165, 250) !important;
  border: 1px solid rgb(2,165, 250);
}
.bg-bluey{
  background-color: rgba(2, 163, 250, 0.487) !important;
  color: white !important;
}
.text-white{
  color: aliceblue !important;
}
.border-light{
  border-color: white !important;
}
.text-dark{
  color: rgb(0, 0, 0) !important;
}
.scroll-y-blog{
  height: 60vh !important;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
}
.back{
  background-color: rgb(255, 255, 255) !important;
}
.background-none{
  background: none !important;
  border: none !important;
  color: rgb(7, 7, 7) !important;
  padding: 0px !important;
  box-shadow: none !important;
}
.nav-a{
  color: rgb(8, 8, 8) !important;
}
.admin{
  overflow-x: hidden !important;
  max-height: 70vh !important;
}
.tabs{
  overflow-x: hidden !important;
  max-height: 100vh !important;
}
p.desc{
  font-size: 13px !important;
  line-height: 13px !important;
  color: rgb(111, 111, 111) !important;
  cursor: pointer;
}
.flex.p-4{
  padding: 0% !important;
  box-shadow: none !important;
  border-radius: 10px !important;
}
.border.bg-card.text-card-foreground.shadow-sm.w-full.p-0.rounded-2xl{
  border: none !important;
  box-shadow: none !important;
}
.rounded-lg.border.bg-card.text-card-foreground.shadow-sm.w-full.p-0{
  border: none !important;
  box-shadow: none !important;
}
.w-100{
  width: 34rem !important;
}
.pointer{
  cursor: pointer !important;
}
.wrap{
  text-wrap: wrap !important;
}
.blog:hover{
  color: #02a5fa !important;
}
.transparent-dark{
  background-color: rgba(0, 0, 0, 0.336) !important;
  color: aliceblue !important;
}